.footer{
	margin-bottom:0.2rem;
}
.footer p{
	text-align:center;
	font-size:0.12rem;
	margin-top:0.05rem
}
.footer ul{
	width:50%;
	height:0.25rem;
	margin:0 auto;
	font-size:0.12rem;
	color:#666666;
}
.footer ul li{
	float:left;
	text-align:center;
	width:24%;
 	line-height:0.25rem;
 	
}

